<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="./styles.css">
</head>
<header>
    Hello, Matheus
</header>
<body>

    <div class="content">
        <h1>Conteúdo bacana</h1>
        <!-- <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1>
        <h1>Conteúdo bacana</h1> -->
    </div>

    <footer>
        <div class="footer-content">Todos os direitos reservados</div>
    </footer>
</body>
</html>