html, body {
    margin: 0;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

header {
    height: 40px;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: rgb(143, 0, 179);
}

.content {
    margin-bottom: -20px; 
}

footer {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: flex-end;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: rgb(235, 235, 235);
    width: 100vw;
}

/* O que realmente importa
    html, body {
        margin: 0;
        flex-direction: column;
        display: flex;
        flex: 1;
        height: 100%;
    }

    footer {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: flex-end;
    }
*/